.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
}

.content {
  padding: 20px;
  min-height: calc(100vh - 64px);
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  color: transparent;
  z-index: 1000;
}
mat-sidenav-content {
  margin-top: 64px;
}

